@mixin font-files() {
  /* latin */
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"),
      url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2)
        format("woff2");
    unicode-range: U + 0000-00ff, U + 0131, U + 0152-0153, U + 02bb-02bc,
      U + 02c6, U + 02da, U + 02dc, U + 2000-206f, U + 2074, U + 20ac, U + 2122,
      U + 2191, U + 2193, U + 2212, U + 2215, U + FEFF, U + FFFD;
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"),
      url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2)
        format("woff2");
    unicode-range: U + 0000-00ff, U + 0131, U + 0152-0153, U + 02bb-02bc,
      U + 02c6, U + 02da, U + 02dc, U + 2000-206f, U + 2074, U + 20ac, U + 2122,
      U + 2191, U + 2193, U + 2212, U + 2215, U + FEFF, U + FFFD;
  }
}

@mixin generic-defaults() {
  html,
  body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: $color-body;
  }

  a {
    text-decoration: none;
    color: $color-link;
    &:visited {
      color: $color-link;
    }
    &:hover {
      color: lighten($color-link, 10%);
    }
  }

  pre {
    margin: 0;
  }

  img,
  iframe {
    max-width: 100%;
    max-height: 100%;
  }
}

@mixin cursor-defaults() {
  .cursor {
    &-default {
      cursor: default;
    }
    &-pointer {
      cursor: pointer;
      text-decoration: none;
    }
  }
}

@mixin ellipsis {
  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@mixin scroll-defaults() {
  .scroll {
    &-auto {
      overflow: auto;
    }
    &-h {
      overflow-x: scroll;
    }
    &-v {
      overflow-y: scroll;
    }
  }

  .overflow {
    &-hidden {
      overflow: hidden;
    }
  }
}

@mixin container-defaults() {
  .cnt {
    &-list {
      border: 1px solid $color-border;
      &-item {
        padding: #{$spacing-sm}px #{$spacing-lg}px;
        border-bottom: 1px solid $color-border;
        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }

  .cnt {
    &-hlist {
      &-item {
        display: inline-block;
        padding: 0 #{$spacing-sm}px;
        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
}

@mixin visibility-defaults() {
  .visibility {
    &-show {
      visibility: visible;
    }
    &-none {
      visibility: hidden;
    }
  }
}

@mixin display-defaults() {
  .display {
    &-block {
      display: block;
    }
    &-inline-block {
      display: inline-block;
    }

    &-grid {
      display: grid;
    }

    &-none {
      display: none;
    }
  }
}

@mixin position-defaults() {
  .position {
    &-relative {
      position: relative;
    }
    &-absolute {
      position: absolute;
      &-full {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        top: 0;
        left: 0;
      }
      &-dl,
      &-dr {
        position: absolute;
        top: "100%";
        z-index: 10;
      }
      &-dl {
        left: 0;
      }
      &-dr {
        right: 0;
      }

      &-bl,
      &-br {
        position: absolute;
        bottom: 0;
        z-index: 10;
      }
      &-bl {
        left: 0;
      }
      &-br {
        right: 0;
      }
      &-tl,
      &-tr {
        position: absolute;
        top: 0;
        z-index: 10;
      }
      &-tl {
        left: 0;
      }
      &-tr {
        right: 0;
      }
    }
    &-fixed {
      position: fixed;
    }
  }
}

@mixin font-defaults() {
  .font {
    &-relative {
      font-weight: 400;
    }
    &-bold {
      font-weight: 500;
    }
    &-fa-bold {
      font-weight: 700;
    }
  }
}

@mixin text-defaults() {
  .text {
    &-italic {
      font-style: italic;
    }

    &-underline {
      font-style: italic;
    }

    &-upper {
      text-transform: uppercase;
    }

    &-transform-initial {
      text-transform: initial;
    }

    &-default {
      color: $color-body;
    }

    &-muted {
      color: $color-muted;
    }

    &-oil-light {
      color: $color-oil-light;
    }

    &-center {
      text-align: center;
    }

    &-left {
      text-align: left;
    }

    &-right {
      text-align: right;
    }

    &-decoration-underline {
      text-decoration: underline;
    }

    &-decoration-none {
      text-decoration: none;
    }
  }
}

@mixin border-defaults() {
  .br {
    &-no {
      border: none;
    }
    &-all-no {
      border-top: none;
      border-right: none;
      border-bottom: none;
      border-left: none;
    }
    &-dashed {
      border-style: dashed;
    }
    &-transparent {
      border-color: transparent;
    }
  }
}

@mixin border-variant($suffix, $size, $color) {
  .br-#{$suffix} {
    border-width: #{$size}px;
    border-style: solid;
    border-color: #{$color};
  }

  .br-l-#{$suffix} {
    border-width: 0;
    border-style: solid;
    border-color: #{$color};
    border-left-width: #{$size}px;
  }
  .br-r-#{$suffix} {
    border-width: 0;
    border-style: solid;
    border-color: #{$color};
    border-right-width: #{$size}px;
  }

  .br-t-#{$suffix} {
    border-width: 0;
    border-style: solid;
    border-color: #{$color};
    border-top-width: #{$size}px;
  }
  .br-b-#{$suffix} {
    border-width: 0;
    border-style: solid;
    border-color: #{$color};
    border-bottom-width: #{$size}px;
  }
  .br-lr-#{$suffix} {
    border-width: 0;
    border-style: solid;
    border-color: #{$color};
    border-left-width: #{$size}px;
    border-right-width: #{$size}px;
  }
  .br-tb-#{$suffix} {
    border-width: 0;
    border-style: solid;
    border-color: #{$color};
    border-top-width: #{$size}px;
    border-bottom-width: #{$size}px;
  }
  .br-tbr-#{$suffix} {
    border-width: 0;
    border-style: solid;
    border-color: #{$color};
    border-top-width: #{$size}px;
    border-bottom-width: #{$size}px;
    border-right-width: #{$size}px;
  }
  .br-tbl-#{$suffix} {
    border-width: 0;
    border-style: solid;
    border-color: #{$color};
    border-top-width: #{$size}px;
    border-bottom-width: #{$size}px;
    border-left-width: #{$size}px;
  }
  .br-blr-#{$suffix} {
    border-width: 0;
    border-style: solid;
    border-color: #{$color};
    border-bottom-width: #{$size}px;
    border-left-width: #{$size}px;
    border-right-width: #{$size}px;
  }
  .br-tlr-#{$suffix} {
    border-width: 0;
    border-style: solid;
    border-color: #{$color};
    border-top-width: #{$size}px;
    border-left-width: #{$size}px;
    border-right-width: #{$size}px;
  }
}

/// Mixin to prefix a property
/// @param {String} $property - Property name
/// @param {*} $value - Property value
/// @param {List} $prefixes (()) - List of prefixes to print
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }

  // Output standard non-prefixed declaration
  #{$property}: $value;
}

@mixin _border-radius-variant($prefix, $suffix, $property, $size) {
  .#{$prefix}-#{$suffix} {
    @include prefix(#{$property}, #{$size}px, webkit moz);
  }
  .#{$prefix}-tl-#{$suffix} {
    @include prefix(border-top-left-radius, #{$size}px, webkit moz);
  }
  .#{$prefix}-tr-#{$suffix} {
    @include prefix(border-top-right-radius, #{$size}px, webkit moz);
  }
  .#{$prefix}-bl-#{$suffix} {
    @include prefix(border-bottom-left-radius, #{$size}px, webkit moz);
  }
  .#{$prefix}-br-#{$suffix} {
    @include prefix(border-bottom-right-radius, #{$size}px, webkit moz);
  }
}

@mixin border-radius-default() {
  .br-radius {
    &-no {
      border-radius: 0;
    }
    &-circle {
      border-radius: 50%;
    }
  }
}

@mixin border-radius-variant($suffix, $size) {
  @include _border-radius-variant("br-radius", $suffix, "border-radius", $size);
}

@mixin _spacing-variant($prefix, $suffix, $property, $size) {
  .#{$prefix}-#{$suffix} {
    #{$property}: #{$size}px;
  }

  .#{$prefix}-l-#{$suffix} {
    #{$property}-left: #{$size}px;
  }
  .#{$prefix}-r-#{$suffix} {
    #{$property}-right: #{$size}px;
  }
  .#{$prefix}-t-#{$suffix} {
    #{$property}-top: #{$size}px;
  }
  .#{$prefix}-b-#{$suffix} {
    #{$property}-bottom: #{$size}px;
  }
  .#{$prefix}-lr-#{$suffix} {
    #{$property}-left: #{$size}px;
    #{$property}-right: #{$size}px;
  }
  .#{$prefix}-tb-#{$suffix} {
    #{$property}-top: #{$size}px;
    #{$property}-bottom: #{$size}px;
  }
}

@mixin padding-defaults() {
  .pd {
    &-no {
      padding: 0;
    }
    &-t-no {
      padding-top: 0;
    }
    &-b-no {
      padding-bottom: 0;
    }
    &-l-no {
      padding-left: 0;
    }
    &-r-no {
      padding-right: 0;
    }
    &-lr-no {
      padding-left: 0;
      padding-right: 0;
    }
    &-tb-no {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

@mixin padding-variant($suffix, $size) {
  @include _spacing-variant("pd", $suffix, "padding", $size);
}

@mixin margin-defaults() {
  .mr {
    &-no {
      margin: 0;
    }
    &-t-no {
      margin-top: 0;
    }
    &-b-no {
      margin-bottom: 0;
    }
    &-l-no {
      margin-left: 0;
    }
    &-r-no {
      margin-right: 0;
    }
    &-lr-no {
      margin-left: 0;
      margin-right: 0;
    }
    &-tb-no {
      margin-top: 0;
      margin-bottom: 0;
    }
    &-auto {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@mixin margin-variant($suffix, $size) {
  @include _spacing-variant("mr", $suffix, "margin", $size);
}

@mixin _hr-variant($prefix, $suffix, $size, $width, $color) {
  .#{$prefix}-dashed-#{$suffix} {
    border-bottom: #{$width}px dashed $color;
    margin: #{$size}px 0;
  }
  .#{$prefix}-solid-#{$suffix} {
    border-bottom: #{$width}px solid $color;
    margin: #{$size}px 0;
  }
  .#{$prefix}-dotted-#{$suffix} {
    border-bottom: #{$width}px dotted $color;
    margin: #{$size}px 0;
  }
}

@mixin hr-variant($suffix, $size, $width, $color) {
  @include _hr-variant("hr", $suffix, $size, $width, $color);
}

@mixin width-variants($prefix) {
  /**
  * Tweleve grid
  */
  .#{$prefix}-grid-1 {
    width: 8.333%;
  }
  .#{$prefix}-grid-2 {
    width: 16.666%;
  }
  .#{$prefix}-grid-3 {
    width: 25%;
  }
  .#{$prefix}-grid-4 {
    width: 33.333%;
  }
  .#{$prefix}-grid-5 {
    width: 41.666%;
  }
  .#{$prefix}-grid-6 {
    width: 50%;
  }
  .#{$prefix}-grid-7 {
    width: 58.333%;
  }
  .#{$prefix}-grid-8 {
    width: 66.666%;
  }
  .#{$prefix}-grid-9 {
    width: 75%;
  }
  .#{$prefix}-grid-10 {
    width: 83.333%;
  }
  .#{$prefix}-grid-11 {
    width: 91.666%;
  }
  .#{$prefix}-grid-12 {
    width: 100%;
  }

  .#{$prefix}-percent-10 {
    width: 10%;
  }
  .#{$prefix}-percent-15 {
    width: 15%;
  }
  .#{$prefix}-percent-20 {
    width: 20%;
  }
  .#{$prefix}-percent-30 {
    width: 30%;
  }
  .#{$prefix}-percent-40 {
    width: 40%;
  }

  .#{$prefix}-percent-45 {
    width: 45%;
  }

  .#{$prefix}-percent-50 {
    width: 50%;
  }
  .#{$prefix}-percent-60 {
    width: 60%;
  }
  .#{$prefix}-percent-70 {
    width: 70%;
  }
  .#{$prefix}-percent-80 {
    width: 80%;
  }
  .#{$prefix}-percent-90 {
    width: 90%;
  }
  .#{$prefix}-percent-100 {
    width: 100%;
  }
  /**
  * width hundreds px
  */
  .#{$prefix}-px-20 {
    width: 20px;
  }
  .#{$prefix}-px-24 {
    width: 24px;
  }
  .#{$prefix}-px-30 {
    width: 30px;
  }
  .#{$prefix}-px-40 {
    width: 40px;
  }
  .#{$prefix}-px-50 {
    width: 50px;
  }
  .#{$prefix}-px-70 {
    width: 70px;
  }
  .#{$prefix}-px-80 {
    width: 80px;
  }
  .#{$prefix}-px-100 {
    width: 100px;
  }
  .#{$prefix}-px-120 {
    width: 120px;
  }
  .#{$prefix}-px-150 {
    width: 150px;
  }
  .#{$prefix}-px-200 {
    width: 200px;
  }
  .#{$prefix}-px-300 {
    width: 300px;
  }
  .#{$prefix}-px-350 {
    width: 350px;
  }
  .#{$prefix}-px-400 {
    width: 400px;
  }
  .#{$prefix}-px-500 {
    width: 500px;
  }
  .#{$prefix}-px-600 {
    width: 600px;
  }
  .#{$prefix}-px-700 {
    width: 700px;
  }
  .#{$prefix}-px-800 {
    width: 800px;
  }
  /**
  * min width hundreds px
  */
  .m#{$prefix}-px-100 {
    min-width: 100px;
  }
  .m#{$prefix}-px-200 {
    min-width: 200px;
  }
  .m#{$prefix}-px-300 {
    min-width: 300px;
  }

  .m#{$prefix}-px-400 {
    min-width: 400px;
  }
  .m#{$prefix}-px-500 {
    min-width: 500px;
  }
  /**
  * max width hundreds px
  */
  .mx#{$prefix}-px-100 {
    max-width: 100px;
  }
  .mx#{$prefix}-px-200 {
    max-width: 200px;
  }
  .mx#{$prefix}-px-300 {
    max-width: 300px;
  }
  .mx#{$prefix}-px-400 {
    max-width: 400px;
  }
  .mx#{$prefix}-px-500 {
    max-width: 500px;
  }
  /**
  * max width 10 %
  */
  .mx#{$prefix}-percent-50 {
    max-width: 50%;
  }
  .mx#{$prefix}-percent-60 {
    max-width: 60%;
  }
  .mx#{$prefix}-percent-70 {
    max-width: 70%;
  }
  .mx#{$prefix}-percent-80 {
    max-width: 80%;
  }
  .mx#{$prefix}-percent-90 {
    max-width: 90%;
  }
  .mx#{$prefix}-percent-100 {
    max-width: 100%;
  }
  .mx#{$prefix}-vw-100 {
    max-width: 100vw;
  }
}

@mixin height-variants($prefix) {
  .#{$prefix}-vh-100 {
    height: 100vh;
  }
  .#{$prefix}-vh-50 {
    height: 50vh;
  }

  .m#{$prefix}-vh-100 {
    min-height: 100vh;
  }
  .m#{$prefix}-vh-50 {
    min-height: 50vh;
  }

  .m#{$prefix}-fixed-50 {
    min-height: 50px;
  }

  .m#{$prefix}-fixed-80 {
    min-height: 80px;
  }

  .m#{$prefix}-fixed-100 {
    min-height: 100px;
  }

  .m#{$prefix}-fixed-150 {
    min-height: 150px;
  }

  .m#{$prefix}-fixed-200 {
    min-height: 200px;
  }

  .m#{$prefix}-fixed-300 {
    min-height: 300px;
  }

  .m#{$prefix}-fixed-400 {
    min-height: 400px;
  }

  .m#{$prefix}-fixed-500 {
    min-height: 500px;
  }

  .max-#{$prefix}-fixed-200 {
    max-height: 200px;
  }

  .max-#{$prefix}-fixed-300 {
    max-height: 300px;
  }

  .max-#{$prefix}-fixed-350 {
    max-height: 350px;
  }

  .max-#{$prefix}-fixed-400 {
    max-height: 400px;
  }

  .max-#{$prefix}-fixed-450 {
    max-height: 450px;
  }

  .max-#{$prefix}-fixed-500 {
    max-height: 500px;
  }

  .max-#{$prefix}-fixed-550 {
    max-height: 550px;
  }

  .max-#{$prefix}-fixed-600 {
    max-height: 600px;
  }

  .max-#{$prefix}-fixed-650 {
    max-height: 650px;
  }

  .max-#{$prefix}-fixed-700 {
    max-height: 700px;
  }

  .max-#{$prefix}-fixed-750 {
    max-height: 750px;
  }

  .max-#{$prefix}-fixed-800 {
    max-height: 800px;
  }

  .#{$prefix}-percent-100 {
    height: 100%;
  }
  .#{$prefix}-fixed-24 {
    height: 24px;
  }
  .#{$prefix}-fixed-20 {
    height: 20px;
  }
  .#{$prefix}-fixed-30 {
    height: 30px;
  }
  .#{$prefix}-fixed-50 {
    height: 50px;
  }
  .#{$prefix}-fixed-80 {
    height: 80px;
  }
  .#{$prefix}-fixed-100 {
    height: 100px;
  }
  .#{$prefix}-fixed-200 {
    height: 200px;
  }
  .#{$prefix}-fixed-300 {
    height: 300px;
  }
  .#{$prefix}-fixed-400 {
    height: 400px;
  }
  .#{$prefix}-fixed-500 {
    height: 500px;
  }
}

@mixin color-variant($suffix, $color, $bg-text-color) {
  .text-#{$suffix} {
    color: $color;
  }
  .bg-#{$suffix} {
    background-color: $color;
    color: $bg-text-color;
  }
  .br-#{$suffix} {
    border-color: $color;
  }
}

@mixin float-utils($prefix) {
  .#{$prefix}-left {
    float: left;
  }
  .#{$prefix}-right {
    float: right;
  }
}

@mixin flex-utils($prefix) {
  /*Stack child items vertically*/
  .#{$prefix}-vbox {
    display: flex;
    /*Align children vetically*/
    flex-direction: column;
    align-content: flex-start;
    /* overflow: hidden; */
    /*Prevent extending beyond boundaries*/
  }
  /*Stack child items horizontally*/
  .#{$prefix}-hbox {
    display: flex;
    /*Align children horizontally*/
    flex-direction: row;
    align-content: flex-start;
    /*Wrap items to next line on main-axis*/
    flex-wrap: wrap;
    /* overflow: hidden; */
    /*Prevent extending beyond boundaries*/
  }
  /*Stretch item along parent's main-axis*/
  .#{$prefix}-full {
    flex: 1;
  }

  .#{$prefix}-auto {
    flex: 0 0 auto;
  }

  .#{$prefix}-inline {
    display: inline-block;
  }

  /*Stretch item along parent's cross-axis Overrides any cross-* class of parent*/
  .#{$prefix}-stretch-self {
    align-self: stretch;
  }
  /*Center item along parent's cross-axis. Overrides any cross-* class of parent*/
  .#{$prefix}-center-self {
    align-self: center;
  }

  .#{$prefix}-end-self {
    align-self: flex-end;
  }

  /*Stack child items to the main-axis start*/
  .#{$prefix}-main-start {
    justify-content: flex-start;
  }
  /*Stack child items to the cross-axis start*/
  .#{$prefix}-cross-start {
    align-items: flex-start;
    align-content: flex-start;
  }
  /*Stack child items to the main-axis center*/
  .#{$prefix}-main-center {
    justify-content: center;
  }
  /*Stack child items to the main-axis with gutter space between*/
  .#{$prefix}-main-space-between {
    justify-content: space-between;
  }
  /*Stack child items to the main-axis with gutter space around*/
  .#{$prefix}-main-space-around {
    justify-content: space-around;
  }
  /*Stack child items to the main-axis with spaced evenly*/
  .#{$prefix}-main-space-evenly {
    justify-content: space-evenly;
  }
  /*Stack child items to the cross-axis center*/
  .#{$prefix}-cross-center {
    align-items: center;
    align-content: center;
  }
  /*Stack child items to the main-axis end.*/
  .#{$prefix}-main-end {
    justify-content: flex-end;
  }
  /*Stack child items to the cross-axis end.*/
  .#{$prefix}-cross-end {
    align-items: flex-end;
    align-content: flex-end;
  }
  /*Stretch child items along the cross-axis*/
  .#{$prefix}-cross-stretch {
    align-items: stretch;
    align-content: stretch;
  }

  /*Wrap items to next line on main-axis*/
  .#{$prefix}-wrap {
    flex-wrap: wrap;
  }
  /*Don't wrap items to next line on main-axis*/
  .#{$prefix}-nowrap {
    flex-wrap: nowrap;
  }
}

@mixin gradient($from, $to) {
  /* fallback/image non-cover color */
  background-color: $from;

  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient($from, $to);

  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from($from),
    to($to)
  );

  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient($from, $to);

  /* Opera 11.10+ */
  background-image: -o-linear-gradient($from, $to);
}

@mixin paper-utils() {
  /*Stack child items vertically*/
  .paper {
    margin-bottom: #{$spacing-lg}px;
    /* border: 1px solid $color-border; */
    &-title {
      padding: #{$spacing-sm}px #{$spacing-lg}px;
      border-bottom: 1px solid $color-border;
    }
    &-content {
      padding: #{$spacing-md}px #{$spacing-lg}px;
      border-bottom: 1px solid $color-border;
      &:last-child {
        border-bottom: 0;
      }
    }
    &-list {
      &-item {
        padding: #{$spacing-sm}px #{$spacing-lg}px;
        border-bottom: 1px solid $color-border;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .paper-elevation-2 {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  }
}

@mixin font-size-defaults() {
  .font {
    &-small {
      font-size: 10px;
    }
    &-button {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 400;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    }
    &-caption {
      font-size: 12px;
      font-weight: 400;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1.7;
      color: rgba(0, 0, 0, 0.6);
    }
    &-subheading {
      font-size: 16px;
      font-weight: 400;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1.4;
      color: rgba(0, 0, 0, 0.9);
    }
    &-title {
      font-size: 18px;
      font-weight: 500;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1.4;
      color: rgba(0, 0, 0, 0.9);
    }
    &-headline {
      font-size: 22px;
      font-weight: 400;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1.4;
    }
    &-display1 {
      font-size: 30px;
      font-weight: 500;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1.2;
      color: rgba(0, 0, 0, 0.75);
    }
    &-display2 {
      font-size: 40px;
      font-weight: 400;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1.2;
      margin-left: 0;
      color: rgba(0, 0, 0, 0.75);
    }
    &-display3 {
      font-size: 50px;
      font-weight: 500;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      letter-spacing: -0.02em;
      line-height: 1.2;
      margin-left: 0;
      color: rgba(0, 0, 0, 0.75);
    }
    &-display4 {
      font-size: 60px;
      font-weight: 500;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      letter-spacing: -0.04em;
      line-height: 1.2;
      margin-left: 0;
      color: rgba(0, 0, 0, 0.75);
    }
    &-small-b {
      font-weight: 500;
      font-size: 10px;
    }
    &-button-b {
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    }
    &-caption-b {
      font-weight: 500;
      font-size: 12px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1.7;
      color: rgba(0, 0, 0, 0.6);
    }
    &-subheading-b {
      font-weight: 500;
      font-size: 16px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1.4;
      color: rgba(0, 0, 0, 0.9);
    }
    &-title-b {
      font-weight: 500;
      font-size: 18px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1.4;
      color: rgba(0, 0, 0, 0.9);
    }
    &-headline-b {
      font-weight: 500;
      font-size: 22px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1.4;
    }
    &-display1-b {
      font-weight: 500;
      font-size: 30px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1.2;
      color: rgba(0, 0, 0, 0.75);
    }
    &-display2-b {
      font-weight: 500;
      font-size: 40px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1.2;
      margin-left: 0;
      color: rgba(0, 0, 0, 0.75);
    }
    &-display3-b {
      font-weight: 500;
      font-size: 50px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      letter-spacing: -0.02em;
      line-height: 1.2;
      margin-left: 0;
      color: rgba(0, 0, 0, 0.75);
    }
    &-display4-b {
      font-weight: 500;
      font-size: 60px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      letter-spacing: -0.04em;
      line-height: 1.2;
      margin-left: 0;
      color: rgba(0, 0, 0, 0.75);
    }
    &-small-upper {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 10px;
    }
    &-button-upper {
      text-transform: uppercase;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 400;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    }
    &-caption-upper {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 400;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1.7;
      color: rgba(0, 0, 0, 0.6);
    }
    &-subheading-upper {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 400;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1.4;
      color: rgba(0, 0, 0, 0.9);
    }
    &-title-upper {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 18px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1.4;
      color: rgba(0, 0, 0, 0.9);
    }
    &-headline-upper {
      text-transform: uppercase;
      font-size: 22px;
      font-weight: 400;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1.4;
    }

    &-display1-size {
      font-size: 30px;
      font-weight: 500;
    }

    &-display1-upper {
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 500;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1.2;
      color: rgba(0, 0, 0, 0.75);
    }
    &-display2-upper {
      text-transform: uppercase;
      font-size: 40px;
      font-weight: 400;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1.2;
      margin-left: 0;
      color: rgba(0, 0, 0, 0.75);
    }
    &-display3-upper {
      text-transform: uppercase;
      font-size: 50px;
      font-weight: 500;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      letter-spacing: -0.02em;
      line-height: 1.2;
      margin-left: 0;
      color: rgba(0, 0, 0, 0.75);
    }
    &-display4-upper {
      text-transform: uppercase;
      font-size: 60px;
      font-weight: 500;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      letter-spacing: -0.04em;
      line-height: 1.2;
      margin-left: 0;
      color: rgba(0, 0, 0, 0.75);
    }
    &-small-upper-b {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 10px;
    }
    &-button-upper-b {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    }
    &-caption-upper-b {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 12px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1.7;
      color: rgba(0, 0, 0, 0.6);
    }
    &-subheading-upper-b {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 16px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1.4;
      color: rgba(0, 0, 0, 0.9);
    }
    &-title-upper-b {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 18px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1.4;
      color: rgba(0, 0, 0, 0.9);
    }
    &-headline-upper-b {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 22px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1.4;
    }
    &-display1-upper-b {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 30px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1.2;
      color: rgba(0, 0, 0, 0.75);
    }
    &-display2-upper-b {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 40px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1.2;
      margin-left: 0;
      color: rgba(0, 0, 0, 0.75);
    }
    &-display3-upper-b {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 50px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      letter-spacing: -0.02em;
      line-height: 1.2;
      margin-left: 0;
      color: rgba(0, 0, 0, 0.75);
    }
    &-display4-upper-b {
      text-transform: uppercase;
      font-size: 60px;
      font-weight: 500;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      letter-spacing: -0.04em;
      line-height: 1.2;
      margin-left: 0;
      color: rgba(0, 0, 0, 0.75);
    }
  }
}

@mixin link-text-defaults() {
  .link-text {
    text-decoration: none;
    color: $color-link;
    &:visited {
      color: $color-link;
    }
    &:hover {
      color: lighten($color-link, 10%);
    }
  }
  .link-disabled {
    pointer-events: none;
  }
}

@mixin hover-variants($prefix, $color) {
  .hover-#{$prefix} {
    &:hover {
      background-color: $color;
    }
  }
}

@mixin overlay() {
  .overlay-container {
    position: relative;
    .overlay-content {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 11;
      background-color: rgba(0, 0, 0, 0.59);
    }
  }
}

@mixin vertical-align-variants() {
  .vertical-align-top {
    vertical-align: top;
  }

  .vertical-align-middle {
    vertical-align: middle;
  }

  .vertical-align-bottom {
    vertical-align: bottom;
  }
}

@mixin list-style {
  .list-style-none {
    list-style: none;
  }
}

@mixin position-index {
  .position-index-1 {
    z-index: 1;
  }
}

@mixin position-utility {
  .top--1 {
    top: -1px;
  }
}

@mixin hover-utility {
  .hover-element-children:hover .hover-target {
    display: block;
  }
}

@mixin arrowIcon {
  i {
    border: solid #969696;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
