$white: #ffffff !default;
$ghost: #fafafa !default;
$snow: #f9f9f9 !default;
$vapor: #f6f6f6 !default;
$white-smoke: #f5f5f5 !default;
$silver: #efefef !default;
$smoke: #eeeeee !default;
$gainsboro: #dddddd !default;
$iron: #cccccc !default;
$base: #aaaaaa !default;
$aluminum: #999999 !default;
$jumbo: #888888 !default;
$monsoon: #777777 !default;
$steel: #666666 !default;
$charcoal: #555555 !default;
$tuatara: #444444 !default;
$oil: #333333 !default;
$jet: #222222 !default;
$black: #000000 !default;
$light-purple: #f7f2f9 !default;
$mercury: #e6e6e6;
$opaque: rgba(255, 255, 255, 0.7);

$color-border: #dddddd;
$color-hover: rgba(0, 0, 0, 0.05);
$color-selected: rgba(0, 0, 0, 0.05);
$color-info: #5bc0de;
$color-warning: #f0ad4e;
$color-success: #5cb85c;
$color-error: #d9534f;
$color-highlight: $color-warning;
$color-yellow: #fffece;
$color-body: $tuatara;
$color-muted: rgba(0, 0, 0, 0.6);
$color-link: #4285f4;
$color-lightgrey: $iron;
$color-faintgrey: $aluminum;
$color-dark-grey: rgba(44, 60, 73, 0.9);
$color-orange: #ff5722;
$color-blue: #2c98f0;
$color-bluegrey: #546e7a;
$color-slategrey: #546e7a;
$color-section: #d9edf7;
$color-oil-light: #3d4858;
$color-light-green: #82c261;
$color-mint-green: #d2ffe8;
$color-near-Debian-red: #dc004e;

$social-media-color-map: (
  linkedIn: #0077b5,
  facebook: #3b5998,
  twitter: #00aced,
  whatsapp: #25d366,
  email: #80c35d
);

$spacing-no: 0;
$spacing-xxs: 2;
$spacing-xs: 4;
$spacing-sm: 8;
$spacing-md: 16;
$spacing-lg: 24;
$spacing-xl: 32;
$spacing-xxl: 48;

$border-xs: 1;
$border-sm: 2;
$border-md: 4;

$border-radius-no: 0;
$border-radius-xs: 2;
$border-radius-sm: 4;
$border-radius-md: 8;
$border-radius-lg: 16;
$border-radius-xl: 24;

$hr-sm: 16;
$hr-width-sm: 1;
$hr-md: 16;
$hr-width-md: 2;
$hr-color: $color-border;
